.nav{
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.589);
}