/* @import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

@media only screen and (max-width: 600px) {
  
body {
  padding: 20px;
  background-color: rgba(27, 67, 126, 0.853);
  color: white;
}

img {
  width: 100%;
  border-radius: 20px;
}

.nav{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.589);
  padding: 3px;
}

form{
  max-width: 100%;
  margin: 0 auto;
  color: white;
}
input, button {
  display: inline-block;
  width: 100%;
  margin: 5px;
  padding: 5px;
}

button {
  border-radius: 5px;
  
}

h1 {
  display: flex;
  justify-content: space-between;
  
}

} */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {

body {
  font-family: 'Poppins', sans-serif;
  
}

.App {
  padding: .5rem;
}
a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #000000;
  margin-bottom: 60px;
  background-color: rgba(128, 128, 128, 0.67);
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a svg {
  margin-right: 5px;
}

img {
  width: 100%;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
}

 .form {
  width: 70%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
} 

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-block {
  width: 100%;
}

.dog-names {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 1rem .3rem;
  row-gap: 1em;
  column-gap: .5em;
}

.dog-data {
  background-color: lightgray;  
  padding: .2em .6em;
  border-radius: 1em;
}

.footer {
  background-color: rgba(12, 10, 10, 0.875);
  padding: 50px 0;
  border-top: 1px solid #f90101;
}


footer {
  text-align: center;
  margin-right: 10px;
  color: rgba(128, 128, 128, 0.684);
  }
}
